<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Funny List</title>
  </head>
  <body>
    <%- include("partials/head.ejs") %>
    <%- include("partials/header.ejs") %>


    <% if (errors && errors.length > 0) { %>
      <% errors.forEach((err) => { %>
        <div class="alert alert-danger">Error: <%= err %></div>
      <% }) } %>
    
    <% if (info && info.length > 0) { %>
      <% info.forEach((msg) => { %>
        <div class="alert alert-info">Info: <%= msg %></div>
      <% }) } %>



    <p>The secret word is: <%= secretWord %></p>
    <p>Would you like to change it?</p>
    <form method="POST">
      <label for="secretWord">New Secret Word:</label>
      <input name="secretWord" id="secretWord" /><br />
      <button>Submit</button>
    </form>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
